<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcademicManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AcademicManagementSystem.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}\\university.accdb;Persist Security Info=False;</value>
            </setting>
            <setting name="FacultyCode" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="StudentCode" serializeAs="String">
                <value>232</value>
            </setting>
        </AcademicManagementSystem.Properties.Settings>
    </userSettings>
</configuration>